#! /usr/sbin/nft -f

flush ruleset

table ip filter {
        chain INPUT {
                # Disallow everything as the default filter policy
                type filter hook input priority filter; policy drop;
                # Allow internal traffic on the loopback device
                iifname "lo" accept
                # Accepts all established inbound connections
                ct state established accept
                # SSH port
                meta l4proto { tcp } th dport {{ configure_nftables_ssh_port }} accept
                # Games servers ports
                meta l4proto { udp } th dport { {{ configure_nftables_games_servers_ports }} } accept
                # Protect a game server by including rate-limit incoming connections
                meta l4proto { udp } th dport { {{ configure_nftables_games_servers_ports }} } ct state new meter DEFAULT size 65535 { ip saddr limit rate over 2/minute burst 10 packets } drop
                # Protection against packets
                meta l4proto { udp } th dport { {{ configure_nftables_games_servers_ports }} } meta length 0-28 drop
                meta l4proto { udp } th dport { {{ configure_nftables_games_servers_ports }} } meta length 30-32 drop
                meta l4proto { udp } th dport { {{ configure_nftables_games_servers_ports }} } meta length 46 drop
                meta l4proto { udp } th dport { {{ configure_nftables_games_servers_ports }} } meta length 60 drop
                meta l4proto { udp } th dport { {{ configure_nftables_games_servers_ports }} } meta length 2521-65535 drop
        }

        chain FORWARD {
                # Disallow everything as the default filter policy
                type filter hook forward priority filter; policy drop;
        }

        chain OUTPUT {
                # Allow everything as the default filter policy
                type filter hook output priority filter; policy accept;
        }
}
table ip6 filter {
        chain INPUT {
                # Disallow everything as the default filter policy
                type filter hook input priority filter; policy drop;
                # Allow internal traffic on the loopback device
                iifname "lo" accept
                # Accepts all established inbound connections
                ct state established accept
        }

        chain FORWARD {
                # Disallow everything as the default filter policy
                type filter hook forward priority filter; policy drop;
        }

        chain OUTPUT {
                # Allow everything as the default filter policy
                type filter hook output priority filter; policy accept;
        }
}
