# Table filter pour gérer l'IPv4 uniquement
table ip filter {
    chain INPUT {
        type filter hook input priority filter; policy drop;

        iifname "lo" accept
        ct state established accept

        tcp dport {{ configure_nftables_ssh_port }} ct state new meter SSHPROTECT { tcp dport limit rate 2/second burst 2 packets } counter accept

        udp dport { {{ configure_nftables_games_servers_ports }} } ct state new counter accept
        udp dport { {{ configure_nftables_games_servers_ports }} } ct state established counter accept

        meta l4proto tcp ct state new limit rate 20/second burst 20 packets counter accept
        meta l4proto tcp ct state new counter drop

        ct state invalid counter drop
        tcp flags & rst == rst limit rate 2/second burst 2 packets counter accept
    }

    chain FORWARD {
        type filter hook forward priority filter; policy drop;
    }

    chain OUTPUT {
        type filter hook output priority filter; policy accept;
    }

    chain port-scanning {
        tcp flags rst / fin,syn,rst,ack limit rate 1/second burst 2 packets counter return
        counter drop
    }
}

table ip mangle {
    chain PREROUTING {
        type filter hook prerouting priority mangle; policy accept;

        ct state invalid counter drop
        tcp flags fin,syn / fin,syn counter drop
        tcp flags syn,rst / syn,rst counter drop
        tcp flags fin / fin,ack counter drop
        ip protocol icmp limit rate 3/second counter accept
        ip frag-off & 8191 != 0 counter drop
    }

    chain OUTPUT {
        type route hook output priority mangle; policy accept;
    }
}

table ip raw {
    chain PREROUTING {
        type filter hook prerouting priority raw; policy accept;

        udp dport { {{ configure_nftables_games_servers_ports }} } counter accept
    }

    chain OUTPUT {
        type filter hook output priority raw; policy accept;
    }
}
