{% set game_ports_list = configure_iptables_games_servers_ports.split(',') %}
*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

# Loopback
-A INPUT -i lo -j ACCEPT

# Connexions établies
-A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT

# Paquets invalides
-A INPUT -m conntrack --ctstate INVALID -j DROP

# SSH
-A INPUT -p tcp --dport {{ configure_iptables_ssh_port }} -m conntrack --ctstate NEW -j ACCEPT

# UDP Game servers
{% for port in game_ports_list %}
-A INPUT -p udp --dport {{ port }} -j ACCEPT
{% endfor %}

# ICMP
-A INPUT -p icmp --icmp-type destination-unreachable -j ACCEPT
-A INPUT -p icmp --icmp-type time-exceeded -j ACCEPT
-A INPUT -p icmp --icmp-type parameter-problem -j ACCEPT

-A INPUT -p icmp --icmp-type echo-request -m limit --limit 5/second --limit-burst 10 -j ACCEPT

COMMIT
