---
- name: Playbook configure ssh iptables
  hosts: lgsmhosts
  become: true
  roles:
    - role: configure_ssh
      tags: configure_ssh
    - role: configure_iptables
      tags: configure_iptables
  handlers:
    - name: Restart ssh iptables or nftables
      ansible.builtin.shell: systemctl restart ssh iptables
      tags:
        - skip_ansible_lint
