---
- name: Installation
  ansible.builtin.package:
    name: "{{ configure_iptables_dependencies }}"
    state: present

- name: Generate iptables config
  ansible.builtin.template:
    src: "{{ item.value.src }}"
    dest: "{{ item.value.dest }}"
    owner: root
    group: root
    mode: "0644"
  loop: "{{ configure_iptables_ip | dict2items }}"
  notify: Restart ssh iptables or nftables

- name: Set iptables to legacy backend using alternatives module
  community.general.alternatives:
    name: iptables
    path: /usr/sbin/iptables-legacy

- name: Set ip6tables to legacy backend using alternatives module
  community.general.alternatives:
    name: ip6tables
    path: /usr/sbin/ip6tables-legacy

- name: Enable iptables
  ansible.builtin.systemd:
    name: netfilter-persistent
    enabled: true
  when: not ansible_check_mode
