[Unit]
Description=cpupower performance
After=tuned.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/cpupower -c all frequency-set -g performance -d {{ minimum_cpu_frequency }} -u {{ maximum_cpu_frequency }}

[Install]
WantedBy=multi-user.target
