---
- name: Create lgsm user
  ansible.builtin.user:
    name: "{{ item.user }}"
    password: "{{ item.password | password_hash('sha512') }}"
    shell: /usr/bin/bash
  loop: "{{ lgsm }}"
  no_log: true
  loop_control:
    label: "user: {{ item.user }}"

- name: Add or modify user limits for steamcmd
  community.general.pam_limits:
    domain: "{{ item.user }}"
    limit_type: "{{ lgsmuser_limit_type }}"
    limit_item: "{{ lgsmuser_limit_item }}"
    value: "{{ lgsmuser_limit_value }}"
    comment: fix openfiles for steamcmd
  loop: "{{ lgsm }}"
  loop_control:
    label: "domain: {{ item.user }}
      limit_type: {{ lgsmuser_limit_type }}
      limit_item: {{ lgsmuser_limit_item }}
      value: {{ lgsmuser_limit_value }}
      comment: fix openfiles for steamcmd"

- name: Set locale for steamcmd
  community.general.locale_gen:
    name: en_US.UTF-8
    state: present

- name: Set to generate locales to be generated for steamcmd
  ansible.builtin.debconf:
    name: locales
    question: locales/locales_to_be_generated
    value: "en_US.UTF-8 UTF-8, {{ lgsmuser_steamcmd_locales_secondary }}"
    vtype: multiselect
